header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  padding-bottom: 3px;
  min-height: 56px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
  background-color: rgba(42, 42, 42, 0.6);
  color: #ffffff;

  .header-select {
    flex-grow: 1;
    max-width: 220px;
  }

  .title-wrap {
    margin-right: 10px;

    .header-title {
      margin: 0;
    }

    .update-time {
      font-size: 11px;
    }
  }


  @media (max-width: 767px) {
    flex-direction: column;
    padding: 7px;
    align-items: center;
    .header-select {
      width: 100%;
      max-width: 400px;
    }
    .title-wrap {
      display: flex;
      justify-content: space-between;
      margin-right: 0;
      margin-bottom: 10px;
      width: 100%;

      .header-title {
        font-size: 20px;
      }
    }
  }

}
