header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  padding-bottom: 3px;
  min-height: 56px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
  background-color: rgba(42, 42, 42, 0.6);

  .header-select {
    flex-grow: 1;
    max-width: 220px;
  }

  .header-title {
    margin: 0;
    color: #ffffff;
    margin-right: 10px;
  }

  @media (max-width: 767px) {
    flex-direction: column;
    padding: 7px;
    align-items: center;
    .header-select {
      width: 100%;
      max-width: 400px;
    }

    .header-title {
      margin-bottom: 10px;
      font-size: 20px;
    }
  }

}
