.mapboxgl-ctrl-attrib-inner,
.mapboxgl-compact {
  display: none;
}

.mapboxgl-popup-content {
  width: 180px;
  background-color: rgba(42, 42, 42, 0.6) !important;
  padding: 5px !important;
  color: #ffffff;


  .popup-header {
    display: flex;
    position: relative;

    img {
      width: 30px;
      height: 30px;
      border-radius: 5px;
    }

    h3 {
      margin: 0;
      padding: 5px 10px;
    }

    span {
      font-size: 28px;
      position: absolute;
      right: 0;
      top: -2px;

      &:hover {
        cursor: pointer;
        opacity: 0.5;
      }
    }
  }

  .info-block {
    display: block;
    padding: 0;
    padding-left: 10px;

    .info-card {
      display: flex;
      flex-direction: column-reverse;
      padding-right: 10px;
      margin: 5px 0;

      .info-new {
        top: 5px
      }
      .info-title{
        text-align: left;
      }
    }
  }
}
